<div class="well edit">
  <h1>Edit/Create</h1>
  	<form action='/edit_profile' method="post">
  		First Name<br><input type="text" name="first_name" value="<%=current_user.first_name%>">
  		<br><br>

  		Last Name<br><input type="text" name="last_name" value="<%=current_user.last_name%>">
  		<br><br>

  		Email<br><input type="email" name="email" value="<%=current_user.email%>">
  		<br><br>

  		BirthDate<br><input type="date" name="birthdate" value="<%=current_user.birthdate%>">
  		<br><br>

  		Home City<br><input type="text" name="home_city" value="<%=current_user.home_city%>">
  		<br><br>

			Zip Code<br><input type="text" name="zipcode" value="<%=current_user.zipcode%>">
			<br><br>

			Gravatar<br><input type="url" name="gravatar" value="<%=current_user.gravatar%>">
			<br><br>
			
			<input type="submit" name="submit">
		</form>
</div>
  	
