<% if authenticated? %>

<div class="col-66 survey-list">
  <h1>My Surveys</h1>
    <% current_user.created_surveys.each do |survey| %>
      <div class="well small">
        <a href="/survey/<%=survey.id%>"><%= survey.title %></a><br><br>
      </div>
    <%end%>
</div>

<div class="col-33">
 <div class="well user-info">
    <% if current_user.gravatar %>
     <div class="gravatar">
        <img src=<%= current_user.gravatar %> alt="">
     </div>
    <% end %>
    
    <ul>
      <% current_user.available_attributes.each do |attr, value| %>
        <li>
          <span class="attr"><%= attr.humanize %>: </span>
          <b><%= value %></b>
        </li>
      <% end %>
    </ul>
    
      <form action="/edit_profile">
        <input type="submit" class="edit btn" value="Edit profile"/>
      </form>   
    </div>

</div>
<% else %>

<div class="col-66">
  <div class="welcome">
    <h1>Welcome to VelaSURaptor</h1>
    <p>Pickled lo-fi ethical squid. Brunch XOXO Williamsburg, DIY meh occupy sriracha polaroid drinking vinegar Cosby sweater shabby chic. Selfies fanny pack flannel selvage, cornhole gastropub seitan asymmetrical XOXO Carles Austin post-ironic beard mustache biodiesel.</p>
  </div>
   <div class="well">
    <div class="buttons">
       <form action="/login">
         <input class="btn" type="submit" value="Log In">
       </form>
       <p>OR</p>
       <form action="/login">
         <input class="btn" type="submit" value="Sign Up">
       </form>
    </div>
     <p class="signup-text">to create and take surveys</p>
   </div>
</div>
<div class="col-33">
  <div class="sidebar">
    <img class="sidebar-raptor" src="velociraptor_2.png" >
  </div>
</div>

<% end %>
