<h1>Survey: <%= @survey.title %></h1>

<form action="/survey_page/<%= @survey.id %>" method="POST">

  <table>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.description %></td>
        </tr>
          <% question.choices.each do |choice| %>
            <tr> 
              <td><input type="radio" id="choice" name="current_choices[<%=question.id %>]" value="<%=choice.id%>" </td>
              <td><%= choice.text%> </td>
            </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>



  <input type="submit" value="Submit Survey">
</form>


